.box{
  border-top: 1px solid white;
  &__location{
    text-align: left;
  }
  &-content{
    padding: 100px;
    h2{
      font-size: 35px;
      margin-bottom: 40px;
    }
    p{
      font-size: 20px;
      line-height: 40px;
    }
  }
  &__email{
    font-size: 12px;
  }
  &__like{
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    display: flex;
    align-items: center;
    img{
      width: 20px!important;
      height: 20px!important;
      margin-right: 5px!important;
    }
  }
  &__text{
    text-align: left;
    margin-top: 10px;
    font-size: 20px;
    &:first-letter{
      text-transform: uppercase;
    }
  }
  &__info{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__name{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
    a{
      color: inherit!important;
    }
    span{
      font-size: 12px;
      margin-left: 10px;
    }
    img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
    }
  }
  &__item{
    width: 100%;
    margin-bottom: 30px;
    &:first-child{
      display: none;
    }
  }
  &__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  &__img{
    overflow: hidden;
    margin-bottom: 10px;
  }
}
.router-link-active{
  background: cadetblue;
  color: white!important;
}
.tabs {
  display: flex;
  margin-bottom: 20px;
  margin-top: 40px;
  flex-wrap: wrap;
  height: fit-content;
  width: 100%;
  &__content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }
  button{
    cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    text-decoration: none;
    color: cadetblue;
    background: 0 0;
    padding: 10px 30px;
    font-size: 15px;
    border: 1px solid cadetblue;
    min-width: 97px;
  }
  button.active{
    background: cadetblue;
    color: white;
  }
}
.navigation{
  margin-left: 0;
  ul{
    display: flex;
    list-style-type: none;
    padding-left: 0;
   li{
     &:hover{
       opacity: 0.9;
     }
   }
    a{
      padding: 10px 20px;
      margin-right: 10px;
      border: 1px solid cadetblue;
      font-size: 25px;
      color: cadetblue;
      text-decoration: none;
    }
  }
}
.del{
  font-size: 45px;
  width: max-content;
  display: block;
  color: crimson;
  transform: rotate(45deg);
  position: absolute;
  top: -13px;
  right: 0;
  cursor: pointer;
}
.popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.city-dell{
  font-size: 25px;
  cursor: pointer;
  background: radial-gradient(1009.23% 696.22% at 47.6% 26.27%,#181A19 0%,#24282B 68.62%);
  padding: 5px 20px;
  &:hover{
    opacity: 0.8;
  }
}
.popup-content {
  background-color: cadetblue;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  p{
    font-size: 35px;
  }
  .dell{
    position: absolute;
    top: -50px;
    right: 0px;
    cursor: pointer;
    font-size: 45px;
  }
}
.content{
  padding-top: 30px;
  width: 100%;
  max-width: 1200px;
  min-width: 360px;
  margin-left: auto;
  margin-right: auto;
  &__top{
    display: flex;
    justify-content: space-between;
    margin: 30px 0 50px;
    align-items: flex-end;
  }
  &__input-search{
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    text-align: left;
    background: white;
    padding: 10px 5px;
    color: black;
    &>div{
      font-size: 20px;
      margin-top: 15px;
      cursor: pointer;
      color: cadetblue;
    }
  }
  &__input-bl{
    position: relative;
  }
  &__favorited{
    background: cadetblue;
    border: none;
    outline: none;
    height: 39px;
    display: block;
    padding: 10px 30px;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  &__schedule{
    width: 100%;
    border: 1px solid cadetblue;
    padding: 40px 20px;
  }
  &__weak-block{
    margin-bottom: 50px;
    margin-top: 50px;
  }
  &__input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    input{
      height: 35px;
      min-width: 400px;
      margin-top: 10px;
    }
  }
}
.tab {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid cadetblue;
}
.tab > input[type="radio"] {
  display: none;
}
.tab-content {
  display: none;
  width: 100%;
  padding: 20px 20px 40px;
  text-align: left;
  flex-wrap: wrap;
}
#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3 {
  display: flex;
}
.tab > label {
  display: block;
  cursor: pointer;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  text-decoration: none;
  color: cadetblue;
  border: 0;
  background: 0 0;
  padding: 10px 30px;
  font-size: 20px;
  border-right: 1px solid cadetblue;
  border-bottom: 1px solid cadetblue;
  min-width: 100px;
}
.tab > input[type="radio"]:checked + label {
  cursor: default;
  color: #fff;
  background: cadetblue;
}
.btn-info{
  cursor: pointer;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  text-decoration: none;
  color: cadetblue;
  background: 0 0;
  padding: 10px 30px;
  font-size: 15px;
  border: 1px solid cadetblue;
  width: 100%;
  margin-bottom: 10px;
}
.btn-info.active{
  background: cadetblue;
  color: white;
}
.weather-card {
  min-width: 180px;
  height: fit-content;
  border: 1px solid white;
  align-items: center;
  padding: 0 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  &:last-child{
    margin-right: 0;
  }
  h2{
    font-size: 18px;
    margin-bottom: 0;
    span{
      margin: 10px 0;
      font-size: 20px;
    }
  }
  p{
    margin: 10px 0;
    font-size: 16px;
    text-align: center;
  }
}
h1{
  font-size: 3em;
}
.pagination button {
  color: white;
  &:disabled{
    color: grey;
  }
}
@media screen and (max-width: 1230px) {
  .box {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .box {
    grid-template-columns: repeat(2, 1fr);
  }
  h1{
    font-size: 25px;
  }
  .content{
    padding-top: 30px;
  }
  .box {
    margin: 20px 0 100px;
  }
}
@media screen and (max-width: 567px) {
  .box {
    grid-template-columns: repeat(1, 1fr);
  }
}