.logo{
  font-size: 40px;
  text-decoration: none;
  color: white;
  font-family: cursive;
}
.footer{
  display: flex;
  justify-content: space-between;
  background: grey;
  padding: 40px 3%;
  align-items: center;
  margin-bottom: -10px;
  margin-left: -8px;
  margin-right: -8px;
  background: radial-gradient(1009.23% 696.22% at 47.6% 26.27%,#181A19 0%,#24282B 68.62%);
  box-shadow: 0 -14px 16px #00000040;
}
@media screen and (max-width: 567px) {
 .footer{
   flex-direction: column;
 }
}